<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table</title>
</head>
<body>
  <div class="container">
    <table>
    <thead>
      <tr>
        <th>Employee Code</th>
        <th>Employee Name</th>
        <th>Employee Designation</th>
        <th>Employee Email ID</th>
        <th>Employee Location</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$">
        <td>{{ user.empcode }}</td>
        <td>{{ user.ename }}</td>
        <td>{{ user.designation }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.elocation }}</td>
      </tr>
    </tbody>
    </table>
  </div>
</body>
</html>